<mat-card class="total-card">
  <mat-card-content>
    <mat-icon aria-hidden="true">account_balance_wallet</mat-icon>
    <p class="label">{{ 'field-management.finances.total-invested' | translate }}</p>
    <p class="amount">{{ ledger().totalInvestment().format() }}</p>
  </mat-card-content>
</mat-card>

@for (item of categories(); track item.category) {
  <mat-card appearance="outlined" class="category-card">
    <mat-card-content>
      <mat-icon aria-hidden="true">{{ item.icon }}</mat-icon>
      <p class="label">{{ 'field-management.expense-category.' + item.category | translate }}</p>
      <p class="amount">{{ item.amount.format() }}</p>
      <p class="share">
        {{
          'field-management.finances.of-total'
            | translate: { percentage: (item.percentage | number: '1.0-0') }
        }}
      </p>
    </mat-card-content>
  </mat-card>
}
