:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.view-plots {
  height: 48px;
}

.charts-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
}

@media (max-width: 1024px) {
  .charts-grid {
    grid-template-columns: 1fr;
  }
}
