<mat-card class="plot-card">
  <mat-card-header>
    <mat-card-subtitle class="plot-number">
      {{ 'field-management.plots.plot-number' | translate: { number: position() } }}
    </mat-card-subtitle>
    <button
      mat-icon-button
      class="plot-menu"
      [matMenuTriggerFor]="menu"
      [attr.aria-label]="'common.actions' | translate"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="viewOnDashboard.emit(plot())">
        <mat-icon>home</mat-icon>
        {{ 'field-management.plots.view-on-dashboard' | translate }}
      </button>
      <button mat-menu-item (click)="delineate.emit(plot())">
        <mat-icon>polyline</mat-icon>
        {{ 'field-management.plots.delineate' | translate }}
      </button>
      <button mat-menu-item (click)="remove.emit(plot())">
        <mat-icon>delete</mat-icon>
        {{ 'common.delete' | translate }}
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <mat-chip-set>
      <mat-chip [disableRipple]="true" class="status-chip">
        <mat-icon matChipAvatar>{{ plot().isMonitored() ? 'eco' : 'pending' }}</mat-icon>
        {{ 'field-management.plot-status.' + plot().status | translate }}
      </mat-chip>
    </mat-chip-set>
    <h2 class="plot-name">{{ plot().name }}</h2>
    <mat-divider />
    <dl class="plot-data">
      <dt>{{ 'field-management.plots.crop' | translate }}:</dt>
      <dd>
        @if (campaign(); as campaign) {
          {{ campaign.seedVariety }}
        } @else {
          {{ 'field-management.plots.no-campaign' | translate }}
        }
      </dd>
      <dt>{{ 'field-management.plots.area' | translate }}:</dt>
      <dd>
        {{ plot().areaHectares | number: '1.0-2' }}
        {{ 'field-management.plots.hectares' | translate }}
      </dd>
      <dt>{{ 'field-management.plots.location' | translate }}:</dt>
      <dd>{{ plot().region }}</dd>
    </dl>
  </mat-card-content>

  <mat-card-actions>
    @if (plot().isMonitored()) {
      <a mat-flat-button class="card-action" routerLink="/crop-health/monitoring">
        {{ 'field-management.plots.view-monitoring' | translate }}
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </a>
    } @else {
      <button mat-flat-button class="card-action" (click)="delineate.emit(plot())">
        {{ 'field-management.plots.delineate' | translate }}
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </button>
    }
  </mat-card-actions>
</mat-card>
