<mat-card appearance="outlined" class="slot-card">
  <mat-card-header>
    <mat-card-subtitle class="plot-number">
      {{ 'field-management.plots.plot-number' | translate: { number: position() } }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-set>
      <mat-chip [disableRipple]="true" class="slot-chip">
        <mat-icon matChipAvatar>add_circle</mat-icon>
        {{ 'field-management.plots.slot-available' | translate }}
      </mat-chip>
    </mat-chip-set>
    <p>{{ 'field-management.plots.slot-text' | translate: { number: position() } }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="register.emit()">
      <mat-icon>add_circle</mat-icon>
      {{ 'field-management.plots.register' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
