<p class="form-section-title">{{ 'harvest-certification.form.intake-title' | translate }}</p>
<div class="form-grid">
  <label>{{ 'harvest-certification.form.member' | translate }} *<select [(ngModel)]="form.memberId" (ngModelChange)="memberChanged.emit()">@for (member of members; track member.id) {<option [ngValue]="member.id">{{ member.name }}</option>}</select></label>
  <label>{{ 'harvest-certification.form.plot' | translate }} *<select [(ngModel)]="form.plotId">@for (plot of plots; track plot.id) {<option [ngValue]="plot.id">{{ plot.name }} ({{ plot.variety }})</option>}</select></label>
  <label>{{ 'harvest-certification.form.gross-kg' | translate }} *<input type="number" min="0" [(ngModel)]="form.grossKg" /></label>
  <label>{{ 'harvest-certification.form.tare-kg' | translate }} *<input type="number" min="0" [(ngModel)]="form.tareKg" /></label>
  <label>{{ 'harvest-certification.form.net-weight' | translate }}<input type="text" [value]="netKg | number: '1.0-2'" readonly /></label>
  <label>{{ 'harvest-certification.form.sample-kg' | translate }} *<input type="number" min="0.01" [(ngModel)]="form.sampleKg" /></label>
</div>
<p class="weight-hint">{{ 'harvest-certification.form.weight-hint' | translate }}</p>
