<h2 mat-dialog-title class="dialog-title">
  {{ isEdit ? 'Reasignar Parcelas / Editar Asesor' : 'Invitar Nuevo Asesor Agronómico' }}
</h2>

<mat-dialog-content class="dialog-content">
  <p class="dialog-description">
    {{ isEdit ? 'Actualice la información y cantidad de lotes asignados al asesor técnico.' : 'Ingrese los datos institucionales del nuevo asesor que supervisará las parcelas.' }}
  </p>

  <form [formGroup]="form" id="advisorForm" (ngSubmit)="onSubmit()" class="dialog-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del Asesor</mat-label>
      <input matInput formControlName="name" placeholder="Ej: Ing. Juan A. Morales" />
      @if (form.controls.name.hasError('required')) {
        <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Colegiatura CIP</mat-label>
      <input matInput formControlName="cipCode" placeholder="Ej: 184029" />
      @if (form.controls.cipCode.hasError('required')) {
        <mat-error>La colegiatura CIP es obligatoria</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teléfono de Contacto</mat-label>
      <input matInput formControlName="phone" placeholder="Ej: 964 811 200" />
      @if (form.controls.phone.hasError('required')) {
        <mat-error>El teléfono es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Parcelas / Lotes Asignados</mat-label>
      <input matInput type="number" formControlName="assignedPlotsCount" placeholder="Ej: 32" />
      @if (form.controls.assignedPlotsCount.hasError('required')) {
        <mat-error>La cantidad de parcelas es obligatoria</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button type="button" (click)="onCancel()" class="btn-secondary">Cancelar</button>
  <button mat-flat-button type="submit" form="advisorForm" class="btn-primary">
    {{ isEdit ? 'Guardar Cambios' : 'Guardar e Invitar' }}
  </button>
</mat-dialog-actions>
